html{
	position: relative;
	min-height: 100%;
}

body{
	background-color: MidnightBlue;
	background-image: url("../../unsplash/bridge-running.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    margin-bottom: 130px;
}

header, footer{
	background: rgba(255, 255, 255, 0.95);
	z-index: 10;
	width: 100%;
}

header{
	display: block;
	position: fixed;
	text-align: center;
}

nav{
	position: center;
	margin: 10px 0px;
}

main{
	padding-top: 150px;
}

footer{
	padding: 10px 100px;
	position: absolute;
	bottom: 0;
}

#LoginScreen{background: }
#wodList{background: }
#wodExecute{background: }
#stats{background: }

div > label{
	width: 150px;
}

#wod-list,#stats-list{list-style-type:none;margin:0;padding:0;}
.wod_list_entry,.stats_list_entry{border: 1px solid #ddd; vertical-align: center;}
.wod_list_entry:hover,.stats_list_entry:hover{background:#dedede}

/*stuff blow is for the timer*/
#wodExecute {
background-image: radial-gradient(at top, #63c2f8, #008baa)
}

#stopwatch time {
display: block;
width: 310px;
text-align: center;
color: white;
font-size: 4rem;
font-weight: 900;
text-align: center;
}

#toggle-timer {float: left; margin-right: 2em}

.form-signin {
  max-width: 380px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .input-group {
	padding-bottom: 10px;
}

.modal-body span {
	padding-bottom: 10px;
}

/*Workout Filter*/
input[type="checkbox"].filter {
 & :checked{
  visibility: hidden;
  	visibility: visible;
  }
}
